.history {
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		li {
			margin: 0;
		}
	}
}
.expense {
	border-bottom: 1px solid #000;
	display: block;
	height: 75px;
	padding: 10px;
	&.notip {
		border-left: 10px solid #ea2d3f;
	}
	&.ten {
		border-left: 10px solid #ff6600;
	}
	&.fifteen {
		border-left: 10px solid #f9de52;
	}
	&.twenty {
		border-left: 10px solid #5cb85c;
	}
	.details {
		float: left;
		width: 56%;
	}
	.value {
		float: left;
		width: 34%;
		li {
			margin-left: 32px;
			text-align: right;
		}
		&:before {
			content: "$";
			// Test with multiples
			position: absolute;
			font-size: 3em;
			color: #5cb85c;
		}
		.value-total {
			border-top: 1px solid #000;
		}
	}
	.arrow {
		width: 10%;
		float: right;
		text-align: right;
	}
}
.expense-details {
	
}